<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YearRoadmap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <header>
        <h1 id='title'>Rockmap 🎸</h1>

        <ul>
          <li><%= link_to 'Rockmap', root_path %></li>

          <% if user_signed_in? %>
            <li><%= link_to 'Profile', edit_user_registration_path %></li>
            <li><%= link_to 'Rock Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Rock Up', new_user_registration_path %></li>
            <li><%= link_to 'Rock In', new_user_session_path %></li>
          <% end %>
        </ul>
      </header>

      <p class='notice'><%= notice %></p>

      <p class='alert'><%= alert %></p>

      <%= yield %>
    </main>
  </body>
</html>
